= form_for @prediction do |f|
  - if @prediction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prediction.errors.count, "error")} prohibited this prediction from being saved:"
      %ul
        - @prediction.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
