= form_tag predictions_path, :id => 'predict', :class => 'form-horizontal' do
  - if @error
    .alert.alert-error= @error
  %legend
    = 'Predict Binding Site'
  %pre
    = 'Predict binding site for unknown protein sequence'
  .control-group
    = label_tag "prediction[res_arr]", "Residues Sequence", :class => "control-label"
    .controls
      = text_field_tag("prediction[res_arr]", "", :placeholder => "Residues sequence")
  .control-group
    = label_tag "prediction[email]", "Email", :class => "control-label"
    .controls
      = email_field_tag("prediction[email]", "", :placeholder => "Email which result is sent to")
  .control-group
    .controls
      = submit_tag 'Go', :disable_with => 'Please wait...', :class => 'btn'
