= semantic_form_for @prediction do |f|
  - if @notice
    .alert.alert-success= @notice
  = f.inputs do
    = f.input :res_seq, :required => true, :label => "Residues Sequence", :as => :text
    = f.input :nt, :required => true, :label => "Nucleic Acid", :as => :radio, :collection => { "DNA" => 0, "RNA" => 1}
    #cutoff.hidden
      = f.input :cutoff, :as => :select, :collection => [3.5, 6.0], :label => 'Cutoff'
    = f.input :email, :required => true, :label => "Email", :as => :email, :placeholder => "Email to which the result will be sent"
  = f.actions do
    = f.action :submit, :label => "Go"

:javascript
  $(document).ready(function(){
    $('#prediction_cutoff').val('3.5');
    $('#prediction_nt_1').on("click", function(){
      $('#cutoff').removeClass('hidden');
    });
  });
