= form_tag predict_transaction_path, :method => :get, :id => 'predict', :class => "form-horizontal" do
  - if @error
    .alert.alert-error= @error
  %legend
    = "Predict binding site"
  %pre
    = "input Residues sequence, we will predict binding site for you"
  .control-group
    = label_tag :seq, "Residues sequence", :class => "control-label"
    .controls
      = text_area_tag(:seq, "", :placeholder => "eg. MKRESHKHAEQARRNRLAVA")

:javascript
  $('#xb-nav li:eq(2)').addClass('active');
