= form_for @protein do |f|
  - if @protein.errors.any?
    #error_explanation
      %h2= "#{pluralize(@protein.errors.count, "error")} prohibited this protein from being saved:"
      %ul
        - @protein.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :id
    = f.text_field :id
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
