.well.sidebar-nav
  .nav.nav-list
    %li.nav-header= "About XBindR"
    %li= link_to "Introduction", root_path
    %li= link_to "Help & Usage", help_path
    %li.nav-header= "Service"
    %li= link_to "Query", query_path, title: "Identification and presentation of DNA\RNA-binding residues in DNA/RNA-protein complexes of known structure"
    %li= link_to "Prediction", predict_path, title: "Prediction of DNA/RNA-binding residues in proteins of unknown structure"
